@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 992px) {
    .topo{
        width: 100%vw;
    }
    h1{
        font-size: 30px;
    }
    .geral{
        width: 100%vw;
    }
    
    span {
        color: red;
    }


}